.root {
  display: grid;
  grid-template-areas:
    'input input'
    'filter filter'
    'results parsed';
  gap: 4px;
}

.filter {
  grid-area: filter;
}

.input {
  grid-area: input;
}

.parsed {
  grid-area: parsed;
}

.results {
  grid-area: results;
}
